.article-card:hover {
    border: 2px solid var(--bs-primary) !important;
    border-radius: 0.25rem;
}

/* styles.css */
.markdown-responsive {
    font-size: 18px !important;
    font-family: "Spectral", serif;
        ;
            /* Default font size */
        }

.dmc-image {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .dmc-image {
        max-width: auto;
        /* Adjust as needed */
    height: 100%;
    }
                                                                                                                                }
@media (max-width: 768px) {
    .markdown-responsive {
        font-size: 16px !important;
        font-family: "Spectral", serif;
        ;
        /* Smaller font size for smaller screens */
    }
                .markdown-responsive-small {
                    font-size: 12px !important;
                    font-family: "Spectral", serif;
                    ;
                    /* Medium font size for medium screens */
                }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .markdown-responsive {
        font-size: 18px !important;
        font-family: "Spectral", serif;
            ;
            /* Medium font size for medium screens */
        }
        
        .markdown-responsive-small {
            font-size: 14px !important;
            font-family: "Spectral", serif;
    ;
        /* Medium font size for medium screens */
    }
}
@media (min-width: 1235px) and (max-width: 6024px) {
    .markdown-responsive {
        font-size: 22px !important;
        font-family: "Spectral", serif;
            ;
            /* Medium font size for medium screens */
        }
        
        .markdown-responsive-small {
            font-size: 18px !important;
            font-family: "Spectral", serif;
        ;
        /* Medium font size for medium screens */
    }
}

.divider {
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
    height: 1px;
}